[bumpversion]
current_version = 1.0.1
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize =
    {major}.{minor}.{patch}-{release}{build}
    {major}.{minor}.{patch}

[bumpversion:part:build]

[bumpversion:file:hyper_prompt/__init__.py]

[bumpversion:file:setup.py]

[bumpversion:file:README.md]
search = version-{current_version}-green.svg
replace = version-{new_version}-green.svg